.our-brands{
    margin-top: 60px;
    text-align: center;
    font-size: 50px;
    letter-spacing: 10px;
    color: var(--logo-color);
    @media (max-width: 435px){
        font-size: 40px;
    }
}
/* Start main section */
.main-section{
    margin-top: 60px;
    .container{
        .main-content{
            background-color: var(--logo-background);
            padding-bottom: 30px;
            border-radius: 10px;
            .brand-header{
                display: flex;
                justify-content: space-around;
                text-align: center;
                margin-top: 50px;
                color: var(--text-color);
                border: 1px solid var(--logo-color);
                border-radius: 10px;
                background-color: var(--logo-background);
                & li{
                    width: calc(100%/3);
                    padding: 15px 0;
                    transition: 0.5s;
                    position: relative;
                    border-radius: 10px;
                    &:first-child{
                        background-color: var(--logo-color);
                        color: var(--logo-background);
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                        .fa-caret-down{
                            color: var(--logo-color);
                        }
                    }
                    &:nth-child(2){
                        border-right: 1px solid var(--logo-color);
                        border-left: 1px solid var(--logo-color);
                        border-radius: 0;
                        &:hover{
                            & li{
                                &:first-child{
                                    background-color: var(--logo-background);
                                }
                            }
                        }
                    }
                    &:last-child{
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                    }
                    &:hover{
                        cursor: pointer;
                        background-color: var(--logo-color);
                        color: var(--logo-background);
                        .fa-caret-down{
                            color: var(--logo-color);
                        }
                    }
                    & i{
                        margin-bottom: 10px;
                    }
                    & p{
                        font-size: 20px;
                    }
                    .fa-caret-down{
                        position: absolute;
                        bottom: -35%;
                        left: 50%;
                        transform: translateX(-50%);
                        font-size: 30px;
                        transition: 0.5s;
                    }
                }
            }
            .brands{
                margin-top: 50px;
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
                gap: 30px 0;
                /* padding-left:30px; */
                .card{
                    /* border: 1px solid; */
                    border-radius: 5px;
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 400px;
                    height: 255px;
                    transition: 0.8s;
                    &:hover{
                        /* width: 450px; */
                        /* height: 305px; */
                        & img{
                            filter: brightness(0.4);
                        }
                        .info{
                            opacity: 1;
                        }
                        .social{
                            opacity: 1;
                        }
                    }
                    & img{
                        position: absolute;
                        width: 400px;
                        max-width: 100%;
                        transition: 0.8s;
                        border-radius: 10px;
                    }
                    .info{
                        position: absolute;
                        left: 20px;
                        bottom: 20px;
                        transition: 0.8s;
                        opacity: 0;
                        & h3{
                            color: var(--logo-color);
                            font-size: 25px;
                            text-transform: capitalize;
                            margin-bottom: 10px;
                            margin-right: 20px;
                            & a{
                                color: var(--logo-color);
                            }
                            & i{
                                margin-right: 10px;
                                font-size: 15px;
                            }
                        }
                        & p{
                            margin-right: 20px;
                            font-size: 15px;
                            text-transform: capitalize;
                        }
                    }
                    .social{
                        display: flex;
                        flex-direction: column;
                        position: absolute;
                        left: 10px;
                        top: 40%;
                        transform: translateY(-40%);
                        font-size: 18px;
                        opacity: 0;
                        transition: 0.8s;
                        & a{
                            color: var(--logo-color);
                            &:nth-child(2){
                                margin: 10px 0;
                            }
                        }
                    }
                }
            }
        }
        @media (max-width: 435px){
            .main-content{
                padding-bottom: 0px;
                .brand-header{
                    & li{
                        & i{
                            font-size: 15px;
                        }
                        & p{
                            font-size: 15px;
                        }
                    }
                }
                .brands{
                    grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
                    gap: 0;
                    .card{
                        width: 100%;
                    }
                }
            }
        }
    }
}
/* End main section */
/* End Main page */